html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes chatLeft {
  0% {
      opacity: 0;
      transform: translateX(-10px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes chatRight {
  0% {
      opacity: 0;
      transform: translateX(10px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}